<main>

  <nav class="self-start">
    <a routerLink="/" class="inline-flex items-center text-gray-700 hover:text-gray-900">
      <lucide-icon [img]="ArrowLeft" class="w-8 h-8"></lucide-icon>
    </a>
  </nav>

  @if (countryData$ | async; as country) {
    <h1>{{ country?.country || 'Country not found' }}</h1>
  } @else {
    <h1>Loading...</h1>
  }

  <section class="flex w-full justify-center items-center flex-wrap gap-4">
    <app-stat-card
      label="Number of entries"
      [count]="(entriesCount$ | async) ?? 0"
    />
    <app-stat-card
      label="Total number medals"
      [count]="(medalsCount$ | async) ?? 0"
    />

    <app-stat-card
      label="Total number of athletes"
      [count]="(athletesCount$ | async) ?? 0"
    />
  </section>

  <section class="w-full h-96 md:h-96 lg:h-[450px] overflow-hidden">
    @if (chartData$ | async; as data) {
      @if (data && data.length > 0) {
        <app-line-chart [data]="data"/>
      } @else {
        <div class="flex items-center justify-center h-full">
          <p class="text-gray-500 text-lg">No data available</p>
        </div>
      }
    }
  </section>
</main>
