/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply bg-teal-700 text-white text-3xl px-4 py-2 rounded-lg inline-block text-center;
  }

  h2 {
    @apply text-gray-600 pb-1;
  }

  main {
    @apply flex flex-col w-full justify-center items-center min-h-screen p-8 gap-8;
  }

}

ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  color: white;
  background-color: #0F766E;

  .tooltip-caret.position-top {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
   border-top: 20px solid #0F766E;
  }

  .tooltip-caret.position-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid #0F766E;
  }

  .tooltip-caret.position-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #0F766E;
  }
}

.pie-label {
  font-size: 1.2rem !important;
}

